* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to bottom, #ffffff, #2f4f4f);
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  background-image: url("https://www.papeiseparede.com.br/3257-large_default/papel-de-parede-whatsapp-branco-e-azul.jpg.webp");
}

.firstDiv {
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  min-height: 30rem;
  margin: 60px 0;
  border: 1px solid black;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 10px 25px #333;
  margin: 2%;
  overflow-y: auto;
  overflow-x: auto;
}

.firstDiv .leftSide {
  background: #0a64ca;
  padding: 30px;
  
}

.firstDiv .rightSide {
  background: #ffffff;
  padding: 15px;
 
}

.leftItems {
  margin-top: 10%;
  color: #ffffff;
}

.leftItems .title {
  padding-bottom: 8px;
  
}

.rightItems {
  margin-top: 32px;
  font-weight: 600;
  color: #2f4f4f;
}

.rightItems .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
li{
  background-color: rgb(158, 60, 255);
  width: auto;
  max-width: 100%;
  padding: 10px;
  margin: 10px; 
  color: white;
  border-radius: 50px;
}
ul li:before {
  content: "\1F920";
  margin: 0 0.5em;
  font-size: 14px;
}
button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus, button:focus {
  outline: none;
}
form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 200%;
  font-size: 14px;
  border: 2px solid black;
  margin-left: -100%;
}
form button {
  position: absolute;
  top: 5px;
  right: -50%;
  background-color: #10cce0;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
  font-size: 14px;
}
footer{
  bottom: 0;
  position: fixed;
}