
* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243,243,243);
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}
ul li:before {
    content: "\1F63A";
    margin: 0 0.5em;
    font-size: 14px;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus, button:focus {
  outline: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  font-size: 14px;
  top: 550px;
  left: 450px;
}
header * {
  z-index: 1;
}
h1{
  text-align: center;
  position: absolute;
  padding: -5px;

}

form {
  position: relative;
  width: 150%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
  font-size: 14px;
}

form button {
  position: absolute;
  top: 2px;
  right: 1px;
  background-color: #10cce0;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
  font-size: 14px;
  
}

li{
  list-style: none;
  background-color: rgb(158, 60, 255);
  padding: 10px;
  margin: 10px; 
  color: white;

}
.segunda-div{
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.continue{
  flex-direction: column;
  height: 500px;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: #47edff;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: auto;
 
}